# ---- web ----
Flask==3.0.2
gunicorn==21.2.0

# ---- numeric ----
numpy==1.26.4
scipy==1.11.4

# ---- torch ----
torch==2.1.2
torchvision==0.16.2

# ---- vision ----
opencv-python-headless==4.8.1.78
pillow==12.1.0
timm==1.0.23

# ---- HF ----
transformers==4.35.2
safetensors==0.4.3

# ---- optional (only if using retriever) ----
# faiss-cpu==1.7.4

# ---- utils ----
requests==2.32.5
tqdm==4.67.1
python-dotenv==1.2.1
pandas==1.5.3

# ---- Google Cloud ----
google-cloud-storage==3.7.0
google-cloud-firestore==2.22.0
google-cloud-tasks==2.20.0
google-api-core==2.28.1
google-auth==2.46.0

# ---- prometheus ----
prometheus-client==0.20.0